<% form_for([@room, @tech]) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :model %> <br />
    <%= f.text_field :model %>
  </p>

  <p>
    <%= f.label :tech_type %> <br />
    <%= f.select :tech_type,
        options_for_select(["Desktop", "Laptop", "Printer", "Copier", "Server", "Router", "Peripheral"], @tech.tech_type) %>
  </p>

  <p>
    <%= f.label :vendor%> <br />
    <%= f.text_field :vendor %>
  </p>

  <p>
    <%= f.label :serial %> <br />
    <%= f.text_field :serial %>
  </p>

  <p>
    <%= f.label "MAC Address" %> <br />
    <%= f.text_field :tech_mac %>
  </p>

  <p>
    <%= f.label "Wifi MAC Address" %> <br />
    <%= f.text_field :wifi_mac %>
  </p>

  <p>
    <%= f.label "IP" %> <br />
    <%= f.text_field :tech_ip %>
  </p>

  <p>
    <%= f.label "Wifi IP" %> <br />
    <%= f.text_field :wifi_ip %>
  </p>

  <p>
    <%= f.label "Network Name" %> <br />
    <%= f.text_field :net_name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>  <%= f.submit "Save" %>  </p>

<% end %>
