<h1>Equipment in Room <%= @room.room_number %></h1>

<table border=2>
  <tr>
    <th>Name</th>
    <th>Model</th>
    <th>Type</th>
    <th>Vendor</th>
    <th>Serial</th>
    <th>MAC</th>
    <th>Wifi MAC</th>
    <th>IP</th>
    <th>Network Name</th>
    <th>Description</th>
  </tr>

  <% for t in @teches %>
  <tr>
    <td><%=h t.name %></td>
    <td><%=h t.model%></td>
    <td><%=h t.tech_type %></td>
    <td><%=h t.vendor %></td>
    <td><%=h t.serial %></td>
    <td><%=h t.tech_mac %></td>
    <td><%=h t.wifi_mac %></td>
    <td><%=h t.tech_ip %></td>
    <td><%=h t.net_name %></td>
    <td><%=h t.description %></td>
    <td>
      <%= link_to 'Edit', edit_room_tech_path(@room, t) %>
    </td>
    <td>
      <%= link_to 'Delete', room_tech_path(@room, t),
          :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <% end %>

</table>

<%= link_to 'Add equipment', new_room_tech_path(@room) %>
<%= link_to 'Back to Room', @room %>
