<h1>Jacks in Room <%= @room.room_number %></h1>

<table border=2>
  <tr>
    <th>Jack Number</th>
    <th>Type</th>
    <th>Status</th>
    <th>Extension</th>
    <th>Description</th>
  </tr>

  <% for jack in @jacks %>
    <tr>
      <td><%=h jack.jack_number %></td> 
      <td><%=h jack.jack_type%></td> 
      <td><%=h jack.jack_status %></td> 
      <td><%=h jack.jack_extension %></td> 
      <td><%=h jack.jack_description %></td> 

      <td>
        <%= link_to 'Edit', edit_room_jack_path(@room, jack) %>
      </td>
      <td>
        <%= link_to 'Delete', room_jack_path(@room, jack),
            :data => { :confirm => 'Are you sure?' }, :method => :delete %>
      </td>
    </tr>
  <% end %>

</table>

<br />

<%= link_to 'Add another jack', new_room_jack_path(@room) %>
<%= link_to 'Back to Room', @room %> 
