<h1>Jack list</h1>

<table border=2>
  <tr>
    <th>Jack Number</th>
    <th>Info</th>
    <th>Extension</th>
    <th>Description</th>
    <th>Room Number</th>
    <th>Room Name</th>
  </tr>

<% for j in @jacks%>
<tr>
<td><%=h j.jack_number %></td> 


    <td>
      <table summary="Jack display box" class="jacks" cellspacing="0">
        <tr>

          <td class="jacks" bgcolor="<%= jack_color(j.jack_type, j.jack_status) %>">
            <font size="+3">
              <%= link_to jack_text(j.jack_type),
                  room_jack_path(j.room_id, j.id), 
                  :style => jack_text_color(j.jack_status) 
              %>
            </font>
          </td>
        </tr>
      </table>
    </td>

<td><%=h j.jack_extension %></td> 
<td><%=h j.jack_description %></td> 
<td><%= link_to j.room_number, room_path(j.room_id) %></td> 
<td><%=h j.room_name %></td> 
<% end %>
</tr>
</table>

<%= link_to "Home", root_path %>
