<h1>Displaying jack: <%= @jack.jack_number %></h1>

<p>
  <b>Jack Number:</b>
  <%=h @jack.jack_number %>
</p>

<p>
  <b>Jack Type:</b>
  <%=h @jack.jack_type %>
</p>

<p>
  <b>Status:</b>
  <%=h @jack.jack_status %>
</p>

<p>
  <b>Phone Extension:</b>
  <%=h @jack.jack_extension %>
</p>

<p>
  <b>Jack Description:</b>
  <%=h @jack.jack_description %>
</p>

<%= link_to 'Edit', edit_room_jack_path(@room, @jack) %> | 
<%= link_to 'Back', rooms_path %> 
