<% form_for(@room) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :room_number %><br />
    <%= f.text_field :room_number %>
  </p>
  <p>
    <%= f.label :floor %><br />
    <%= f.select :floor, 
        options_for_select(["Basement", "First", "Second", "Third"], @room.floor) %>
  </p>
  <p>
    <%= f.label :room_name %><br />
    <%= f.text_field :room_name %>
  </p>
  <p>
    <%= f.label :room_description %><br />
    <%= f.text_area :room_description %>
  </p>
  <p>
    <%= f.label :room_type %><br />
    <%= f.select :room_type,
        options_for_select(["Office", "Room", "Lab", "Storage"], @room.room_type) %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
