<table class="table table-striped">
  <tr>
    <th>Room number</th>
    <th>Room name</th>
    <th>Room description</th>
    <th>Room type</th>
    <th>Floor</th>
    <th>Data Jacks</th>
    <th>Actions</th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= link_to room.room_number, edit_room_path(room) %></td>
    <td><%=h room.room_name %></td>
    <td><%=h room.room_description %></td>
    <td><%=h room.room_type %></td>
    <td><%=h room.floor %></td>
    <td>
      <% room.jacks.each do |j| %>
        <%= link_to render_jack_badge(j.jack_type, j.jack_status), room_jack_path(room, j.id) %>
      <% end %>
    </td>
    <td>
      <%= content_tag :span, link_to('Delete', room, :data => { :confirm => 'Are you sure?' }, :method => :delete), :class => "label label-default" %>
      <%= content_tag :span, link_to(link_to 'View equipment', room_teches_path(room)), :class => "label label-default" %>
      <%= content_tag :span, link_to(link_to 'Manage jacks', room_jacks_path(room)), :class => "label label-default" %>
    </td>
  </tr>
<% end %>
</table>
