
<table border=1>
  <tr>
    <th>Room number</th>
    <th>Room name</th>
    <th>Room description</th>
    <th>Room type</th>
    <th>Floor</th>
    <th>Data Jacks</th>
    <th>Actions</th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= link_to room.room_number, edit_room_path(room) %></td>
    <td><%=h room.room_name %></td>
    <td><%=h room.room_description %></td>
    <td><%=h room.room_type %></td>
    <td><%=h room.floor %></td>
    <td>
      <table summary="Jack display box" class="jacks" cellspacing="0">
        <tr>
          <% room.jacks.each do |j| %>
              <td class="jacks" bgcolor="<%= jack_color(j.jack_type, j.jack_status) %>">
                <font size="+3">
                  <%= link_to jack_text(j.jack_type),
                      room_jack_path(room, j.id), 
                      :style => jack_text_color(j.jack_status) 
                  %>
                </font>
              </td>
          <% end %>
        </tr>
      </table>
    </td>
    <td>
      <%= link_to 'Delete', room, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to 'View equipment', room_teches_path(room) %> |
      <%= link_to 'Manage jacks', room_jacks_path(room) %>
    </td>
  </tr>
<% end %>
</table>

<br />

<h2>Legend</h2>
<table class="jacks">
  <tr>
    <th>Status</th>
    <th>Data</th>
    <th>Phone</th>
    <th>Green</th>
    <th>Red</th>
    <th>Coax</th>
  </tr>
  <tr>
    <th>Active</th>
    <td class="jacks" bgcolor="#0000FF"> </td>
    <td class="jacks" bgcolor="#FFFFFF"> </td>
    <td class="jacks" bgcolor="#00FF00"> </td>
    <td class="jacks" bgcolor="#FF0000"> </td>
    <td class="jacks" bgcolor="#FFFFFF"> <font size="+3"> &copy; </font> </td>
  </tr>
  <tr>
    <th>Inactive</th>
    <td class="jacks" bgcolor="#000066"> </td>
    <td class="jacks" bgcolor="#606060"> </td>
    <td class="jacks" bgcolor="#006600"> </td>
    <td class="jacks" bgcolor="#660000"> </td>
    <td class="jacks" bgcolor="#000000"> <font size="+3" color="#FFFFFF"> &copy; </font> </td>
  </tr>
  <tr>
    <th>Analog</th>
    <td> </td>
    <td class="jacks" bgcolor="#FFFF66"> </td>
    <td colspan="3"> </td>
  </tr>
</table>

<br />
