<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inventory</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "shared/navbar" %>
  <%= render "shared/legend" %>

  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
